
body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to left, #8e72ac, #2575fc);
  margin: 0;
  
}
button{
    margin-left: 30px;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login {
  padding: 20px;
  width: 300px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(8, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8e72ac, #2575fc);
  animation: fadeInUp 0.6s ease-out;
  filter:blur(0.20px);
  border:2px solid;

  
}
.login button{
  width: 30%;
  height: 36px;
  font-size: medium;
  margin-left: 40%;
 
}
.login p{
  margin-left: 19%;
}


.login input[type="text"],
.login input[type="password"] {
  width: 64%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s, box-shadow 0.3s;
}




.login button[type="submit"]:hover {
  background-color: "";
}
